# Python
__pycache__/
*.py[cod]
*.sqlite3

# Env/venv
.env
venv/
# 환경별 설정 파일은 Git에 포함 (.env.development, .env.production)
# 단, .env.local은 제외
.env.local

# Django
staticfiles/
media/

# IDE
.vscode/
.idea/
